<head>
  <meta charset="UTF-8">
  <title>Potluck Party</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <div>
    <nav>
      <div class="logo"></div>
      <div class="navlinks">
          <a href="/">Home</a>
          {{#if loggedIn}}
          <div>Dashboard</div>
          <button id="logout">Logout</button>
          {{else}}
          <a href="/login">Login/Sign Up</a>
          {{/if}}
      </div>
    </nav>
      <main>
        {{{ body }}}
      </main>
  </div>
  </body>
  {{!-- This is done to remove script when logout button is hidden to
  fix console error regarding the addEventlistener--}}
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{else}}
  {{/if}}
</html>