<div id="form">
    <form class="form" id="edit-post">
        <input type="text" id="titleInput"placeholder={{editPost.title}}></input>
        <textarea type="text" id="contentInput" placeholder={{editPost.content}} ></textarea>
        <button type="submit" value="submit" >SAVE CHANGES</button>
    </form>
</div> 

<script src="/js/editpost.js"></script>