<div id="form">
    <form class="form" id="login">
        <input type="email" id="emailInput" placeholder="EMAIL">
        <input type="password" id="passwordInput" placeholder="PASSWORD">
        <button type="submit" value="submit">LOGIN</button>
        <a href="/signup">SIGN UP</a>
    </form>
</div> 

<script src="/js/login.js"></script>

