<div id="form">
    <form class="form" id="new-post">
        <input type="text" id="titleInput" placeholder="TITLE">
        <textarea type="text" id="contentInput" placeholder="DESCRIPTION"></textarea>
        <button type="submit" value="submit" >POST</button>
    </form>
</div> 

<script src="/js/newpost.js"></script>