<div id="form">
    <form class="form" id="signup">
        <input type="text" id="usernameInput" placeholder="USERNAME">
        <input type="email" id="emailInput" placeholder="EMAIL">
        <input type="password" id="passwordInput" placeholder="PASSWORD">
        <button type="submit" value="submit" >SIGN UP</button>
    </form>
</div> 


<script src="/js/signup.js"></script>