*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navlinks{
    background: hsl(0, 100%, 50%);
    display: flex;
    justify-content: right;
}
.navlinks > *{
    padding: 1rem 1.75rem;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 1fr;
    gap:1rem;
}
.card{
    margin:0.5rem;
    background: hsl(0, 0%, 86%);
}
.card .title{
    padding:0.5rem 1rem;
    background: linear-gradient(to right, hsl(0, 0%, 80%), hsl(0, 0%, 20%));
}
.card .content{
    padding: 0.5rem 1rem;
    padding-bottom: 3rem;
}
